In [1]:
import pandas as pd
import numpy as np

url    = 'https://home.sis.siam.edu/registrar/student_inclass_all.asp?backto=teach_time&option=1&classid=203395&courseid=15336&acadyear=2563&semester=3&normalURL=f%5Fcmd%3D2%26officercode%3D20710%26officerid%3D20710%26officername%3D%25BC%25C8%252E%25B4%25C3%252E%2B%25B7%25D1%25C8%25B9%25D1%25C2%2B%25BE%25C5%25CD%25C2%25CA%25D8%25C7%25C3%25C3%25B3%26acadyear%3D2563%26rnd%3D44352%2E4941435185%26firstday%3D31%2F5%2F2564%26semester%3D3&avs296126231=5'
List = pd.read_html(url)

df = List[3]
df =  df.loc[3:,0:2].reset_index( drop = True).drop(0,axis=1)
df0= df.rename(columns={1:'id',2:'Name'})
df0['id']= df0['id'].astype('string')

In [3]:
df       = df0.copy()
df['R1'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['R2'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['R3'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['R4'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['R5'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['R6'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['choose'] = df0['id'].apply(lambda x: '1.'+str(1+int(x[-1])%3) )

df

            id                    Name   R1   R2   R3   R4   R5   R6 choose
0   6223200004   นายธนศักดิ์ จันทรัตน์   90  207  105   98  436  369    1.2
1   6223200006   นายภัทรพล ศรีเทียนทอง  203   78   99   96    3  332    1.1
2   6223200010    นายณัฐพงศ์ นาคทรัพย์  105  205  418   99  142  304    1.1
3   6223200011     นายรตนากร อักษรวรรณ  126  318  346  320  128  240    1.2
4   6223200012    นายณัฐวุฒิ แก้วประไพ  453  307  480  467  142  216    1.3
5   6223200014     นายนิวัฒน์ รัตนสาคร  300  384   88   13  140  482    1.2
6   6223200019    นายชาคริต เอี่ยมสกุล  496  466   69  391   63  234    1.1
7   6223200021    นายนนธวัช เจริญฤทธิ์  427  243  227  485  456   71    1.2
8   6223200022          นายคมสัน อำนวย  137  255  426  292  416  239    1.3
9   6223200025         นายจรัญ รักญาติ  278  209  412   10  465  153    1.3
10  6223200026     นายฐิติกานต์ อิ่มใจ  481    9  381  220   16  357    1.1
11  6223200027  นายพรพิพัฒน์ กรรฐโรจน์  324  343  141  193   16  151    1.2
12  6223200030   นายภูรินทร์ กิติจนาทร  157  378  435  359    0  422    1.1
13  6223200031     นายกรวุฒิ อิ่มอาดูร  126  496  343  186  312  230    1.2
14  6223200032  นายพงษ์เพชร พุ่มลอยฟ้า  174  459  225  280  396  308    1.3
15  6223200033       นางสาวรณิดา นพวัง  330  409   15   13   15  188    1.1
16  6223220002      นายอรรถพล เนตรวงค์  306  115   59  352  308   22    1.3
17  6224220001       นางสาวปวีณา บุญนำ   28  377  102  208  333  289    1.2

# ช้อ 1.1 . จงหาค่า $ I_1, I_2, I_3 $ โดยการเขียนโปรแกรม Python

![1](https://raw.githubusercontent.com/Tuchsanai/152-333-Electrical-Engineering-Laboratory-3/master/HomeWork1/circuit_1.png)

# ช้อ 1.2 . จงหาค่า $ I_1, I_2, I_3 $ โดยการเขียนโปรแกรม Python

![1](https://raw.githubusercontent.com/Tuchsanai/152-333-Electrical-Engineering-Laboratory-3/master/HomeWork1/circuit_2.png)

# ช้อ 1.3 . จงหาค่า $ I_1, I_2, I_3 $ โดยการเขียนโปรแกรม Python

![1](https://raw.githubusercontent.com/Tuchsanai/152-333-Electrical-Engineering-Laboratory-3/master/HomeWork1/circuit_3.png)

# ข้อ 2 จงหารากของ

# $ r(s) = (s^a  -bs^{2} +cs-d)(es^f  - 1) $

In [3]:
df       = df0.copy()
df['a'] = df0['id'].apply(lambda x: np.random.randint(9) )
df['b'] = df0['id'].apply(lambda x: np.random.randint(20) )
df['c'] = df0['id'].apply(lambda x: np.random.randint(70) )
df['d'] = df0['id'].apply(lambda x: np.random.randint(100) )
df['e'] = df0['id'].apply(lambda x: np.random.randint(30) )
df['f'] = df0['id'].apply(lambda x: np.random.randint(8) )


df

            id                    Name  a   b   c   d   e  f
0   6223200004   นายธนศักดิ์ จันทรัตน์  5  10  53  42  14  7
1   6223200006   นายภัทรพล ศรีเทียนทอง  7  11  31  77  24  2
2   6223200010    นายณัฐพงศ์ นาคทรัพย์  2   3  23  52   3  4
3   6223200011     นายรตนากร อักษรวรรณ  2   2  54  74  13  6
4   6223200012    นายณัฐวุฒิ แก้วประไพ  8   8  39  67  29  2
5   6223200014     นายนิวัฒน์ รัตนสาคร  8  11  24  75  17  6
6   6223200019    นายชาคริต เอี่ยมสกุล  7  11  25  34   2  0
7   6223200021    นายนนธวัช เจริญฤทธิ์  1  18  36   0   1  5
8   6223200022          นายคมสัน อำนวย  7   5  60  64   3  4
9   6223200025         นายจรัญ รักญาติ  8  13  26  60   3  2
10  6223200026     นายฐิติกานต์ อิ่มใจ  7  16  21   4  19  4
11  6223200027  นายพรพิพัฒน์ กรรฐโรจน์  8   6  48  51  15  3
12  6223200030   นายภูรินทร์ กิติจนาทร  0  15  21  83  24  0
13  6223200031     นายกรวุฒิ อิ่มอาดูร  0  11  34  67  20  3
14  6223200032  นายพงษ์เพชร พุ่มลอยฟ้า  5   9  48  38  26  5
15  6223200033       นางสาวรณิดา นพวัง  1  19  27  68   9  7
16  6223220002      นายอรรถพล เนตรวงค์  8  11  31  37  29  2
17  6224220001       นางสาวปวีณา บุญนำ  8   6  38  96   5  4