In [2]:
import pandas as pd
import numpy as np

url    = 'https://home.sis.siam.edu/registrar/student_inclass_all.asp?backto=teach_time&option=1&classid=203395&courseid=15336&acadyear=2563&semester=3&normalURL=f%5Fcmd%3D2%26officercode%3D20710%26officerid%3D20710%26officername%3D%25BC%25C8%252E%25B4%25C3%252E%2B%25B7%25D1%25C8%25B9%25D1%25C2%2B%25BE%25C5%25CD%25C2%25CA%25D8%25C7%25C3%25C3%25B3%26acadyear%3D2563%26rnd%3D44352%2E4941435185%26firstday%3D31%2F5%2F2564%26semester%3D3&avs296126231=5'
List = pd.read_html(url)

df = List[3]
df =  df.loc[3:,0:2].reset_index( drop = True).drop(0,axis=1)
df0= df.rename(columns={1:'id',2:'Name'})
df0['id']= df0['id'].astype('string')

In [4]:
df       = df0.copy()
df['a'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['b'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['c'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['d'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['e'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['f'] = df0['id'].apply(lambda x: np.random.randint(500) )

df

            id                    Name    a    b    c    d    e    f
0   6223200004   นายธนศักดิ์ จันทรัตน์  323   65  446  102  247  325
1   6223200006   นายภัทรพล ศรีเทียนทอง  200  115   38   80  366  264
2   6223200010    นายณัฐพงศ์ นาคทรัพย์  373   87  431   70  443  232
3   6223200011     นายรตนากร อักษรวรรณ  306  385   10   84  249  416
4   6223200012    นายณัฐวุฒิ แก้วประไพ  250  286  287   66  259   28
5   6223200014     นายนิวัฒน์ รัตนสาคร  308   35  247  371   42  270
6   6223200019    นายชาคริต เอี่ยมสกุล  129  217  223   76  454   29
7   6223200021    นายนนธวัช เจริญฤทธิ์  265   55   20   30   12  120
8   6223200022          นายคมสัน อำนวย   38  364  109   14    8  345
9   6223200025         นายจรัญ รักญาติ  476  221  357   84  284   76
10  6223200026     นายฐิติกานต์ อิ่มใจ  293  370  358   91  278  461
11  6223200027  นายพรพิพัฒน์ กรรฐโรจน์  336  395   79  426  203   99
12  6223200030   นายภูรินทร์ กิติจนาทร  146  254  437  360  385  252
13  6223200031     นายกรวุฒิ อิ่มอาดูร  334  490   49  384  239  168
14  6223200032  นายพงษ์เพชร พุ่มลอยฟ้า  210   48   20  451  184  429
15  6223200033       นางสาวรณิดา นพวัง  306  190  311  137  456  113
16  6223220002      นายอรรถพล เนตรวงค์  147   88   39   28   84   44
17  6224220001       นางสาวปวีณา บุญนำ   23  114  323  104  259  496

# ช้อ 1 . จงหาฟังก์ชั่นถ่ายโอนรวมของระบบ $ H(s) $ โดยการเขียนโปรแกรม Python

# ![1](https://raw.githubusercontent.com/Tuchsanai/152-333-Electrical-Engineering-Laboratory-3/master/HomeWork2/data1.png)


# ${G_1} = \frac{{s - a}}{{{s^5} - cs + 7}}$  ${G_2} = \frac{{ - f{s^2} - 10}}{{2{s^5} - cs - 3}}$  ${G_3} = \frac{s}{{2{s^4} - 3}}$  ${G_4} = \frac{s}{{2{cs^2} - 3s-7}}$

# ข้อ 2.  จงทำการ Plot : Impulse response และ Frequency Response ของ  
# $ H{(s)} = \frac{{s - a}}{{{s^5} - cs + 7}}$