In [1]:
import pandas as pd
import numpy as np

url    = "https://home.sis.siam.edu/registrar/student_inclass_all.asp?backto=teach_time&option=1&classid=210169&courseid=15336&acadyear=2564&semester=3&normalURL=f%5Fcmd%3D2%26officercode%3D53113029%26officerid%3D20710%26officername%3D%25BC%25C8%252E%25B4%25C3%252E%2B%25B7%25D1%25C8%25B9%25D1%25C2%2B%25BE%25C5%25CD%25C2%25CA%25D8%25C7%25C3%25C3%25B3%26acadyear%3D2564%26rnd%3D44710%2E3665509259%26firstday%3D22%2F5%2F2565%26semester%3D3&avs167896254=5"
List = pd.read_html(url)
List = pd.read_html(url)

df = List[3]
df =  df.loc[3:,0:2].reset_index( drop = True).drop(0,axis=1)
df0= df.rename(columns={1:'id',2:'Name'})
df0['id']= df0['id'].astype('string')

In [2]:
df       = df0.copy()
df['a'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['b'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['c'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['d'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['e'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['f'] = df0['id'].apply(lambda x: np.random.randint(500) )

df

            id                      Name    a    b    c    d    e    f
0   6104200014       นายศิวรักษ์ อาจสามล   68  395  383  272  131  496
1   6104200019     นายปภาณ หนูเชื้อเวียง  464  264  328   66   56  346
2   6223200002          นายวรวุฒิ บุญชัย   11  117  190   97  387   22
3   6223200013       นายกมลเทพ จิตรณรงค์  409  483   65  226   71  431
4   6223200020      นายสุรวุฒิ เขียวนาคา  413  112  132  263   18   70
5   6223220001   นายธีระศักดิ์ จันทร์แมน  465   19  285  217   46  255
6   6223220003          นายศุภกานต์ ภูธร  473    4   86  463  324  337
7   6223220005         นายนิธิ เมฆะวัฒนะ  228  234  128  408  292   57
8   6304200008  นางสาวปัญจรัตน์ ยุบลชิตร  125  118   74  479  425  484
9   6323200001      นายอัษฎาวุธ รำพึงกิจ  455  291  174   71  347  225
10  6323200003         นายธนวัฒน์ นันติ๊  186  443  395   11   75  115
11  6323200004        นายยสินทร ธนานันท์  469  102  441  112   82  405
12  6323200006       นายวัชรพงษ์ ทัพวัตร  353  229  360  278   27   32
13  6323200007     นายสิรภพ กระแสร์ทิพย์   63  349   37  191   22  304
14  6323200008             นายพฤกษ กุมพล  270  145  409  210  245  141
15  6323200010     นายถิรวุฒิ จันทร์เพ็ญ   87   66  258   42    3  279
16  6323200012       นายธนภูมิ ภวนาคโสภณ  225  170  267  264  289  463
17  6323200013     นายชนสิทธิ์ พ่วงจินดา  446  447  380  216  313  386
18  6323200014    นายวีรวัฒน์ โพธิ์กลิ่น  496  254  474  275  484  278
19  6323200015          นายธนเดช โสนน้อย  309  308  246  498  277  477
20  6323200017       นายกิตติภณ ลุ่ยทุ่ง  203  437    8  275  273  185
21  6323200018          นายภูรี ชำนาญกุล  217  171  448  103  131  239
22  6323200019       นายชาญภูมิ เอี่ยมทศ  250  397  149  190  499  304
23  6324200008          นายณัฐวัตร ขันโท    1  282  284  206  136  256
24  6324200009         นายชัยพัชร์ ต่อพล  309  126  120  301  380  455
25  6423200006      นายศุภชัย ปัญญาบารมี  434  489  401  393  229  497
26  6424200002  นายทศพร วัฒนะพันธ์ศักดิ์  236  162  150   47  449   77
27  6424200005       นางสาววรัญญา ศิลปศร  388  259  466  474  185  491

# ช้อ 1 . จงหาฟังก์ชั่นถ่ายโอนรวมของระบบ $ H(s) $ โดยการเขียนโปรแกรม Python

# ![1](https://raw.githubusercontent.com/Tuchsanai/152-333-Electrical-Engineering-Laboratory-3/master/HomeWork2/data1.png)


# ${G_1} = \frac{{s - a}}{{{s^5} - cs + 7}}$  ${G_2} = \frac{{ - f{s^2} - 10}}{{2{s^5} - cs - 3}}$  ${G_3} = \frac{s}{{2{s^4} - 3}}$  ${G_4} = \frac{s}{{2{cs^2} - 3s-7}}$

# ข้อ 2.  จงทำการ Plot : Impulse response และ Frequency Response ของ  
# $ H{(s)} = \frac{{s - a}}{{{s^5} - cs + 7}}$