In [3]:
import pandas as pd
import numpy as np

url= "https://home.sis.siam.edu/registrar/student_inclass_all.asp?backto=teach_time&option=1&classid=208411&courseid=15336&acadyear=2564&semester=2&normalURL=f%5Fcmd%3D2%26officercode%3D53113029%26officerid%3D20710%26officername%3D%25BC%25C8%252E%25B4%25C3%252E%2B%25B7%25D1%25C8%25B9%25D1%25C2%2B%25BE%25C5%25CD%25C2%25CA%25D8%25C7%25C3%25C3%25B3%26acadyear%3D2564%26rnd%3D44591%2E3098842593%26firstday%3D23%2F1%2F2565%26semester%3D2&avs649958683=11"
List = pd.read_html(url)

df = List[3]
df =  df.loc[3:,0:2].reset_index( drop = True).drop(0,axis=1)
df0= df.rename(columns={1:'id',2:'Name'})
df0['id']= df0['id'].astype('string')

In [4]:
df       = df0.copy()
df['a'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['b'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['c'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['d'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['e'] = df0['id'].apply(lambda x: np.random.randint(500) )
df['f'] = df0['id'].apply(lambda x: np.random.randint(500) )

df

           id                     Name    a    b    c    d    e    f
0  6004200004         นายเนติธร บัวรอด  248  490   79  274  159  466
1  6004200006        นายกิตติธัช สาสนะ  440  122  119  373   59  413
2  6204200004       นายธนรัช นภาอำไพพร  166  155  405  382   81    7
3  6204200014           นายอนวัช สมปอง   27  258  458  457  486   29
4  6223220004      นายนนทวัฒน์ บุญเป็ง  389  297  207  420  408  161
5  6321200001         นายธนวัฒน์ สุขใส   99  160  317  444  150  226
6  6321200004  นายสกุลเกียรติ รุจิพงษ์  281  218  302   22  195   14
7  6321200006    นายปิยะพงษ์ อุ้ยพรมมา  205  363  317   23  292   44
8  6324220002   นางสาวมนปพร ชัยวาณิชยา  262  466  214   88  374  469

# ช้อ 1 . จงหาฟังก์ชั่นถ่ายโอนรวมของระบบ $ H(s) $ โดยการเขียนโปรแกรม Python

# ![1](https://raw.githubusercontent.com/Tuchsanai/152-333-Electrical-Engineering-Laboratory-3/master/HomeWork2/data1.png)


# ${G_1} = \frac{{s - a}}{{{s^5} - cs + 7}}$  ${G_2} = \frac{{ - f{s^2} - 10}}{{2{s^5} - cs - 3}}$  ${G_3} = \frac{s}{{2{s^4} - 3}}$  ${G_4} = \frac{s}{{2{cs^2} - 3s-7}}$

# ข้อ 2.  จงทำการ Plot : Impulse response และ Frequency Response ของ  
# $ H{(s)} = \frac{{s - a}}{{{s^5} - cs + 7}}$